.slider-clothes {
  margin: 0 auto;
  width: 79%;
}
.container {
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.card {
  padding-top: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
}
.card-img {
  height: 10rem;
  object-fit: contain;
}
.card .card-title {
  font-size: 1rem;
  text-align: center;
}
